---
const { ...props } = Astro.props
---
<div {...props} class="w-full h-full flex flex-col items-center justify-center">
    <h1>index page</h1>
    <p class="mt-4"><button class="btn-primary">example page</button></p>
</div>
